# Discord Bot Token
BOTTOKEN=

# Environment Toggles
DEVMODE=FALSE
TBDENV=prod
PORT=8080
GOMEMLIMIT=200MiB

# Cloud Function APIs
ROMCAL_API_FUNCTIONS_URL=

# GitHub API Token (if used by the bot)
GITHUBAPITOKEN=

# Firebase Service Account JSON (Keep this entirely on one line if possible, or ensure it's properly escaped in your actual .env)
FIREBASE_CONFIG=

# Grafana Monitoring
GF_SECURITY_ADMIN_PASSWORD=admin
